@font-face {
  font-family: "Red Hat Text";
  font-weight: normal;
  font-style: normal;
  src: local("Red Hat Text"), url("/RedHatText-Regular.otf") format("opentype");
}

* {
  @apply font-sans box-border overflow-visible;
}

html,
body,
#app {
  @apply h-screen w-screen m-0 p-0;
}

html {
  @apply bg-gray-200 text-gray-700;

  .btn {
    @apply bg-green-400 text-white px-3 py-2 rounded;
  }

  .link {
    @apply underline;
  }
}

html.dark {
  @apply bg-gray-700 text-gray-200;

  .btn {
    @apply text-black;
  }
}
